{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/eslint-recommended", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint", "prettier"],
    "env": {
        "browser": true,
        "jest": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "one-var": ["error", "never"],
        "semi": ["error", "always"],
        "spaced-comment": "off",
        "space-infix-ops": "error",
        "no-undef": "error",
        "no-trailing-spaces": [
            "error",
            {
                "skipBlankLines": true,
                "ignoreComments": true
            }
        ],
        "no-console": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "none",
                "varsIgnorePattern": "logger|assert",
                "ignoreRestSiblings": true
            }
        ]
    }
}
